@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1;
    font-weight: 400;
    color: #555;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #555;
}
/* NAVIGATION */
.nav {
    background-color: #2bc987;
    margin-bottom: 5rem;
}

.nav-item {
    padding: 2rem;
}

.nav-link, .nav-link:link, .nav-link:visited {
    font-weight: 300;
    color: #555;
    font-size: 2rem;
}

.nav-link:hover, .nav-link:active {
    color:cornsilk;
}

.container {
    /* 1140px */
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.container-border {
    border: 1px solid #333;
    border-radius: 0.8rem;
    padding: 2rem;
}

.grid {
    display: grid;
    column-gap: 5rem;
    row-gap: 9.6rem;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    width: 50%;
}

.form-heading {
    font-size: 2.2rem;
    margin-bottom: 2.4rem;
}

.custom-form-control {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.btn {
    cursor: pointer;
    font-size: 1.6rem;
    font-family: inherit;
    padding: 0.8rem 2rem;
    border-radius: 3px;
}

.error-msg {
    font-size: 1.8rem;
    font-weight: 600;
    color: #e01a1a;
}
